p {
  padding-left: 10px; padding-right: 10px;
  padding-bottom: 10px; text-align: justify;
  text-indent: 2em; color: white;
  padding-left: 10px;
}
#container{
  width: 1500px;
}
#header{
  background-color: #42A5F5;
}
#menu{
  background-color: #90CAF9;
  height: 900px; width: 350px;
  float: left;
}
h1{
  margin-bottom: 0;
  text-align: center;
  color: white;
}
h2{
  color: white; text-align: center;
}
.h2a{
  padding-left: 10px; text-align: left;
}
#idimg{
  text-align: center;
}
img{
  width: 320px; border-radius: 8px;
}
h4{
  text-indent: 2em; color: white;
  padding-left: 10px; padding-right: 10px;
}
address{
  text-align: right; color: #42A5F5;
}
#footer{
  background-color: #42A5F5; clear: both;
  text-align: center; color: white;
}
#content{
   background-color: #E3F2FD; height: 900px;
   width: 1150px; float: left;
}
